# dependencies
node_modules/

# build
dist/

# env / secrets
.env
.env.local
.env.production

# logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# tests / coverage
coverage/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# temp
tmp/
.temp/